# Preview all emails at http://localhost:3000/rails/mailers/
class <%= file_name.camelcase %>CampaignPreview < ActionMailer::Preview<% steps.each do |step| %><% step, wait = step.split(":") %>
  def <%= step %>
    <%= file_name.camelcase %>Campaign.<%= step %>(user)
  end
<% end %>
  private

  def user
    <%= Heya.config.user_type %>.where(id: params[:user_id]).first || <%= Heya.config.user_type %>.first || <%= Heya.config.user_type %>.new(email: "user@example.com").freeze
  end
end
