name: Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:11.5
        ports: ["5432:5432"]
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5

    strategy:
      fail-fast: false
      matrix:
        rails:
          - rails_5.2
          - rails_6.0
          - rails_6.1
          - rails_7.0
          - rails_7.1
          - rails_7.2
        ruby:
          - 3.2
          - 3.1
          - '3.0'
          - 2.7
        exclude:
          - ruby: 3.2
            rails: rails_5.2
          - ruby: 3.2
            rails: rails_6.0
          - ruby: 3.2
            rails: rails_6.1
          - ruby: 3.1
            rails: rails_5.2
          - ruby: 3.1
            rails: rails_6.0
          - ruby: 3.0
            rails: rails_5.2

    env:
      PGHOST: localhost
      PGUSER: postgres
      RAILS_ENV: test
      RAILS_VERSION: ${{ matrix.rails }}
      BUNDLE_GEMFILE: "./gemfiles/${{ matrix.rails }}.gemfile"

    steps:
    - uses: actions/checkout@v4

    - name: Install PostgreSQL 11 client
      run: |
        sudo apt-get -yqq install libpq-dev postgresql-client

    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
        bundler-cache: true

    - name: Build and test
      run: |
        bundle exec rake db:create db:schema:load test
